@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

:root {
	--base-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	--title-font-family: Besley;
	--subtitle-font-family: "IBM Plex Serif";
	--background-color: #f8f8f8;
	--foreground-color: #000000;
	--text-color-dark: #000;
	--text-color: #555;
	--text-color-light: #999;
	--accent-color-dark: hsl(258, 95%, 25%);
	--accent-color:  #f96483;
	--accent-color-light: hsla(258, 100%, 75%, 0.12);
	--overlay-color: rgba(255, 255, 255, .8);  
	--overlay-edge-color: rgba(0, 0, 0, .08)
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #0c0b1c;
		--foreground-color: rgba(0, 0, 0, 0.3);
		--text-color-dark: rgba(255, 255, 255, 1);
		--text-color: rgba(255, 255, 255, .85);
		--text-color-light: rgba(255, 255, 255, .7);
		--accent-color-dark: #b91d1d;
		--accent-color: #ff4343;
		--accent-color-light: #ff78781a;
		--overlay-color: rgba(0, 0, 0, .2);
		--overlay-edge-color: rgba(255, 255, 255, .2)
	}
}

body{
    background-color: var(background-color);
}

.letter-n{
  border-radius: 12px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .intro{
    width: 50%;
    padding: 20px;
    justify-content: center;
    align-self: center;
    margin-left: 80px;
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
  }

  .intro-text{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    width: fit-content;
  }

.h1{
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 40px;
}

/* .name{
    color: #770CFF;
} */

.button-group{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 34%;
}
.letter-n{
  height: 80px;
  width: auto;
}

  .button{
    margin-top: 40px;
    padding: 16px 12px 16px 12px;
    border: 1px black solid;
    width: fit-content;
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
  }


  .intro-image{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 50%;
    /* background-color: aqua; */
    justify-content: center;
    margin-right: 80px;
  }

  .neel-photo{
    position: absolute;
    top: 10%;
    height: 60vh;
    width: 45vh;
    margin: auto;
    display: block;
    box-shadow: 12px 12px 0px 0px var(--accent-color);
    -webkit-box-shadow: 12px 12px 0px 0px var(--accent-color);
    -moz-box-shadow: 12px 12px 0px 0px var(--accent-color);
    transition: .2s ease-in-out;
  }

  .neel-photo:hover{
    transform: translate(-12px, -12px);
    box-shadow: -12px -12px 0px 0px var(--accent-color);
    -webkit-box-shadow: -12px -12px 0px 0px var(--accent-color);
    -moz-box-shadow: -12px -12px 0px 0px var(--accent-color);
  }

.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width:fit-content;
    height: fit-content;
    padding-left:20%;
    padding-right: 20%;
    padding-top: 5%;
    background-color: aqua;
}

.project-card{
    align-items: top;
    width: 33%;
    height: fit-content;
    /* Will this cause varying heights for cards? */
    background-color: #f1f1f1;
    padding: 20px;

    
  }

  .project-image{
    position: relative;
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
    border-radius: 5%;
    box-shadow: 0px 4px 16px 0px rgba(144, 132, 209, 0.2);
    box-shadow: 0px 4px 16px 0px rgba(144, 132, 209, 0.2);

  }

  .project-title{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    width: fit-content;
    padding-top: 10%;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 18px;
    line-height: 135%;
  }

  .project-description{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    width: fit-content;
    height: fit-content;
    padding-top: 3%;
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
    color: #696969;
    line-height: 135%;
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px)
    }
  
    100% {
      opacity: 1;
      transform: translateY(0)
    }
  }
  
  .animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
  }

  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;  
  }



/* Mobile */
  @media only screen and (max-width: 768px) {

    .flex-container{
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-self: center;
      }



  }