@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@700&display=swap');



.flex-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .intro{
    width: 50%;
    background-color: #f1f1f1;
    padding: 20px;
    justify-content: center;
    align-self: center;
    margin-left: 80px;
  }

  .intro-text{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    width: fit-content;
  }

.h1{
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 40px;
}

/* .name{
    color: #770CFF;
} */

.button-group{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 34%;
}
.letter-n{
  height: 80px;
  width: auto;
}

  .button{
    margin-top: 40px;
    padding: 16px 12px 16px 12px;
    border: 1px black solid;
    width: fit-content;
  }


  .intro-image{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 50%;
    /* background-color: aqua; */
    justify-content: center;
    margin-right: 80px;
  }

  .neel-photo{
    position: relative;
    height: 60%;
    width: auto;
    margin: auto;
    display: block;
  }

.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width:fit-content;
    height: fit-content;
    padding-left:20%;
    padding-right: 20%;
    padding-top: 5%;
    background-color: aqua;
}

.project-card{
    align-items: top;
    width: 33%;
    height: 100vh;
    background-color: #f1f1f1;
    padding: 20px;
    
  }

  .project-image{
    position: relative;
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
  }

  .project-title{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    width: fit-content;
    padding-top: 10%;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 20px;
    line-height: 135%;
  }

  .project-description{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    width: fit-content;
    height: fit-content;
    padding-top: 3%;
  }


/* Mobile */
  @media only screen and (max-width: 768px) {

    .flex-container{
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-self: center;
      }



  }