@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

:root {
	--base-font-family: "Public Sans", "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
	--title-font-family: "Anek Devanagari", sans-serif;

  --anim-duration-short: 0.2s;
  --anim-duration-medium: 0.4s;
  --anim-duration-long: 0.6s;

	--background-color: #f8f8f8;
	--foreground-color: #000000;

	--text-color-dark: #000;
	--text-color:rgb(60, 60, 60);
	--text-color-light: #999;

	--primary-color:  #f96483;
	--secondary-color: #770dff;

  --authcenter: #5370EE;
  --cipher: #A6577E;
  --mindhouse: #9083D1;
  --forestika: #FE6B86;
  --intercourses: #E87CC9;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: hsl(266 100% 6% / 1);
		--foreground-color: rgba(0, 0, 0, 0.3);

		--text-color-dark: rgba(255, 255, 255, 1);
		--text-color: rgba(255, 255, 255, .85);
		--text-color-light: rgba(255, 255, 255, .7);
	}
}

body{
    background-color: var(--background-color);
    font-family: var(--base-font-family);
    color: var(--text-color);
    line-height: 1.5;
}

.text-color-light{
    color: var(--text-color-light);
}

.text-color-dark{
    color: var(--text-color-dark);
} 

.text-color-primary{
    color: var(--primary-color);
}

.text-color-secondary{
    color: var(--secondary-color);
}

footer{
  color: var(--text-color-light);
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.center{
  display: block;
  text-align: center;
}


.letter-n{
  border-radius: 12px;
  margin-bottom: 24px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 1124px;
    margin: auto;
  }

  .intro{
    width: 500px;
    padding: 20px;
    justify-content: center;
    align-self: center;
    margin-left: 20px;
    font-size: 14px;
    line-height: 120%;
  }

  .intro-text{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    width: fit-content;
  }

  .neel-photo{
    width: 450px;
    margin: auto;
    display: inline;
    box-shadow: 12px 12px 0px 0px var(--primary-color);
    -webkit-box-shadow: 12px 12px 0px 0px var(--primary-color);
    -moz-box-shadow: 12px 12px 0px 0px var(--primary-color);
    transition: .2s ease-in-out;
  }

  .neel-photo:hover{
    transform: translate(-12px, -12px);
    box-shadow: -12px -12px 0px 0px var(--primary-color);
    -webkit-box-shadow: -12px -12px 0px 0px var(--primary-color);
    -moz-box-shadow: -12px -12px 0px 0px var(--primary-color);
  }

h1, h2, h3, h4, h5{
    font-family: var(--title-font-family);
    margin: 0;
}

h1{
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

h2{

}

h3{

}

h4{

}

h5{

}

.button-group{
    display: inline;
}

.letter-n{
  height: 80px;
  width: auto;
}

:root {
  /* use these to adjust button hover effect. Button outline is negative of thickness you want. */
  --btn-offset-x: 10px;
  --btn-offset-y: 10px;
  --btn-outline: -1px; 
  --btn-outline-color: var(--text-color-dark);
  --btn-hover-color: var(--secondary-color);
}

a:link.button, a:visited.button, a:hover.button, a:active.button {
  color: var(--text-color);
}

  .button{
    margin-top: 40px;
    margin-right: 24px;
    padding: 16px 20px;
    border: 1px var(--btn-outline-color) solid;
    width: fit-content;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    transition: var(--anim-duration-short) ease-in-out;

    box-shadow: var(--btn-offset-x) var(--btn-offset-y) 0px var(--btn-outline) var(--background-color), var(--btn-offset-x) var(--btn-offset-y) 0px 0px var(--btn-outline-color);
    -webkit-box-shadow: var(--btn-offset-x) var(--btn-offset-y) 0px var(--btn-outline) var(--background-color), var(--btn-offset-x) var(--btn-offset-y) 0px 0px var(--btn-outline-color);
    -moz-box-shadow: var(--btn-offset-x) var(--btn-offset-y) 0px var(--btn-outline) var(--background-color), var(--btn-offset-x) var(--btn-offset-y) 0px 0px var(--btn-outline-color);
  }

  .button:hover{
    border-radius: 10px;
    border: 1px var(--btn-hover-color) solid;
    background-color: var(--btn-hover-color);
    color: white !important;

    box-shadow: var(--btn-offset-x) var(--btn-offset-y) 0px var(--btn-outline) var(--background-color), var(--btn-offset-x) var(--btn-offset-y) 0px 0px var(--btn-hover-color);
    -webkit-box-shadow: var(--btn-offset-x) var(--btn-offset-y) 0px var(--btn-outline) var(--background-color), var(--btn-offset-x) var(--btn-offset-y) 0px 0px var(--btn-hover-color);
    -moz-box-shadow: var(--btn-offset-x) var(--btn-offset-y) 0px var(--btn-outline) var(--background-color), var(--btn-offset-x) var(--btn-offset-y) 0px 0px var(--btn-hover-color);
  }

  .rotate-right-onhover, .rotate-left-onhover{
    transition: var(--anim-duration-short) ease-out;
  }

  .rotate-right-onhover:hover{
    transform: rotate(3deg);
  }

  .rotate-left-onhover:hover{
    transform: rotate(-3deg);
  }

.projects{
  max-width: 1124px;
  margin: auto;
  display: block;
  align-items: start;
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* width:fit-content; */
  /* height: fit-content; */
  /* padding-left:20%; */
  /* padding-right: 20%; */
  /* padding-top: 5%; */
  /* background-color: aqua; */
}

.project-card{
    vertical-align: top;
    width: 500px;
    display: inline-block;
    height: fit-content;
    /* Will this cause varying heights for cards? */
    padding: 30px;
  }



.project-card:hover .authcenter{
  color: var(--authcenter) !important;
}

.project-card:hover .cipher{
  color: var(--cipher) !important;
}

.project-card:hover .mindhouse{
  color: var(--mindhouse) !important;
}

.project-card:hover .forestika{
  color: var(--forestika) !important;
}

.project-card:hover .intercourses{
  color: var(--intercourses) !important;
}

  .project-image{
    position: relative;
    height: auto;
    width: 100%;
    margin: 0 0 -12px 0;
    display: block;
    border-radius: 20px;
    box-shadow: 0px 4px 16px 0px rgba(144, 132, 209, 0.2);
    box-shadow: 0px 4px 16px 0px rgba(144, 132, 209, 0.2);
  }

  .project-title{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    width: fit-content;
    padding-top: 10%;
    font-family: var(--title-font-family);
    font-size: 24px;
    line-height: 135%;
    transition: ease-in-out var(--anim-duration-short);
  }

  .project-description{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    width: fit-content;
    height: fit-content;
    padding-top: px;
    font-family: 
    color: #696969;
    line-height: 170%;
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px)
    }
  
    100% {
      opacity: 1;
      transform: translateY(0)
    }
  }

  .delay-1{
    -webkit-animation-delay: .15s;
    animation-delay: .15s
  }

  .delay-2{
    -webkit-animation-delay: .3s;
    animation-delay: .3s
  }

  .delay-3{
    -webkit-animation-delay: .45s;
    animation-delay: .45s
  }

  .delay-4{
    -webkit-animation-delay: .6s;
    animation-delay: .6s
  }

  .delay-5{
    -webkit-animation-delay: .75s;
    animation-delay: .75s
  }
  
  .animated {
    -webkit-animation-duration: var(--anim-duration-medium);
    animation-duration: var(--anim-duration-medium);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
  }

  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;  
  }



/* Mobile */
  @media only screen and (max-width: 768px) {

    .flex-container{
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-self: center;
      }

      .intro{
        width: auto;
      }

      .neel-photo{
        width: 80%;
      }

      .project-card{
        width: 90%;
        margin: auto;
      }
  }